$defaultFontSize-Title              : 3em;
$StopCellGrowthWidth                : 1000px;
$CellPaddingBottom                  : 62%; // SAME as modifed rav below: (62%)
$CellFixedPaddingBottom             : $StopCellGrowthWidth * 0.62; // NOTE: same as above: $CellPaddingBottom;
$CellPaddingBottom--yellowboot      : 70%; // SAME as modifed rav below: (70%)
$CellFixedPaddingBottom--yellowboot : $StopCellGrowthWidth * 0.70; // NOTE: same as above: $CellPaddingBottom--yellowboot;

//$PressPage-background; background-color: $background-AboutPage-blue;
@include keyframes(rockFrame) {
  0%{transform: rotate(5deg)}
  50%{transform: rotate(-5deg)}
  100%{transform: rotate(5deg)}
}

.AboutPage {
	z-index: 1;
	&-cell {
		position: relative;
		width: 100%;
		padding-bottom:62%;
		background-size: 100%;
		font-family: $fontFamily-AboutPage-cell;   //font-family: "Coming Soon", cursive;
		z-index: 1;

		&-wrapper {
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}

		// This is a helper class for the title fonts
		&-title {
			font-size: 8vw;
			//font-family: $fontFamily-AboutPage-title;
		}


		&--splash {
			background-color: $background-AboutPage-blue;
			background-image : url("../media/img/about/background-blue.jpg");

			&-title {
				display: block;
				position: absolute;
				top: 3%; //vw;
				left: 50%;
				transform: rotate(3deg);
				color: $fontColor-AboutPage-cell--splash-title;
			}
			&-photo {
				display: block;
				position: absolute;
				top: 17%; //vw;
				left: 53%;
				width: 36%;
				transform: rotate(3deg);
				//@include border-shadow(2px 2px 2px black);
			}
			&-paper {
				display: block;
				position: absolute;
				top: 13%; //vw;
				left: 6%;
				width: 36%;
				transform: rotate(-1deg);
				//@include border-shadow(2px 2px 2px black);
			}
		}

		&--boots {
			background-color: $background-AboutPage-yellow;
			background-image : url("../media/img/about/background-yellow.jpg");
			
			&-title {
				display: block;
				position: absolute;
				top: 4.5%;//vw;
  				left: 3%;
				transform: rotate(-3deg);
				color: $fontColor-AboutPage-cell--boots-title;
			}
			&-photo {
				display: block;
				position: absolute;
				top: 11%; //vw;
				left: 8%;
				width: 40%;
				transform: rotate(-1deg);
			}
			&-paper {
				display: block;
				position: absolute;
				top: 10%; //vw;
				left: 55%;
				width: 38%;
				transform: rotate(2deg);
			}
		}

		&--bigyellowboot {
			// background-image : url("../media/img/about/yellowboot-background.jpg");
			background-image : url("../media/img/about/yellowboot-background-2.jpg");
			padding-bottom: $CellPaddingBottom--yellowboot;

			&-text {
				position: absolute;
				bottom: 1.5%;
				right: 1.5%;
				color: $fontColor-AboutPage-cell--yellowboot-text;

				// &--shadow2 {
				// 	text-shadow: -1px -1px $textShadowColor-AboutPage-cell--yellowboot-text; // A shadow is needed to make it look good on yellow background
				// }

				text-align: right;

				&-header {
					font-size: 5vw;
					text-shadow: 3px 3px 0px $textShadowColor-AboutPage-cell--yellowboot-text; // A shadow is needed to make it look good on yellow background
				}
				&-reg {
					font-family: $fontFamily-AboutPage-cell--bigyellowboot-text-reg;
					font-size: 3.2vw;
					text-shadow: 1px 1px 0px $textShadowColor-AboutPage-cell--yellowboot-text;
				}
			}
		}

		
		&--friends {
			background-color: $background-AboutPage-blue;
			background-image : url("../media/img/about/background-blue.jpg");
			
			&-title {
				display: block;
				position: absolute;
				top: 38%;
				left: 49%;
				width: 64%;
				margin-left: -33%;
				z-index: 20;
				font-size: 5vw;

				color: $fontColor-AboutPage-cell--friends-title;

  				transform: rotate(-3.4deg);

				&-text {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 20;
					width: 100%;
					text-align: center;
					transform: rotate(2deg);
					margin-top: 1.6%;
				}

				&-img {
					display: block;
					position: absolute;
					top:0;
					left:0;
					z-index: 10;
					width: 100%;
				}
			}
			&-sharonloisbram {
			    display: block;
			    position: absolute;
			    top: 4%;
			    left: 4%;
			    width: 47%;
			    transform: rotate(-4deg);
			    z-index: 10;
			}

			&-treehouse {
			    display: block;
			    position: absolute;
			    top: 5%;
			    left: 56%;
			    width: 40%;
			    transform: rotate(5deg);
			}

			&-fred {
			    display: block;
			    position: absolute;
			    top: 54%;
			    left: 8%;
			    width: 40%;
			    transform: rotate(-1deg);
			}

			&-wiggles {
			    display: block;
			    position: absolute;
			    top: 46%;
			    left: 53%;
			    width: 42%;
			    transform: rotate(3deg);
			}

		}

		&--awards {
			background-color: $background-AboutPage-yellow;
		    background-image: url("../media/img/about/background-yellow.jpg");
		    &-title {
		        display: block;
		        position: absolute;
		        top: 1.8%;
		        left: 50%;
		        width: 80%;
		        margin-left: -40%;
		        z-index: 20;
		        text-align: center;
		        color: $fontColor-AboutPage-cell--awards-title;
		        &-reg {
		            font-size: 2.7vw;
		        }
		    }
		    &-juno1 {
		        display: block;
		        position: absolute;
		        top: 28%;
		        left: 7%;
		        width: 29%;
		        transform: rotate(-10deg);
		        z-index: 1;
		    }
		    &-juno2 {
		        display: block;
		        position: absolute;
		        top: 31%;
		        left: 33%;
		        width: 19%;
		        transform: rotate(-3deg);
		        z-index: 4;
		    }
		    &-indies {
		        display: block;
		        position: absolute;
		        top: 26%;
		        left: 49%;
		        width: 27%;
		        transform: rotate(4deg);
		        z-index: 3;
		    }
		    &-juno3 {
		        display: block;
		        position: absolute;
		        top: 48%;
		        left: 72%;
		        width: 21%;
		        transform: rotate(9deg);
		        z-index: 4;
		    }
		}

		&--worldMap {
			background-image: url("../media/img/about/world-map.gif");
			padding-bottom: 59%;

			&-title {
				// display: block;
				// position: absolute;
				// top: 10%;
				// left: 50%;
				// width: 40%;
				// margin-left:-20px;
				// text-align: center;
				display: block;
				position: absolute;
				top: 1.8%;
				left: 50%;
				width: 80%;
				margin-left: -40%;
				z-index: 20;
				text-align: center;
				color: $color-yellowSNB;
				text-shadow: 3px 3px 1px $color-blueSNB;
			}
		}

		&--albums {
			background-color: $background-AboutPage-yellow;
			background-image: url("../media/img/about/background-yellow.jpg");

			&-title {
				display: block;
				position: absolute;
				top: 1.8%;
				left: 50%;
				width: 80%;
				margin-left: -40%;
				z-index: 20;
				text-align: center;
				color: $color-blueSNB;
				//text-shadow: 3px 3px 1px $color-blueSNB;
			}

			&-albums {
				position: absolute;
				padding-top:9.5%;
				width: 100%;
			}

			&-album {
				float:left;
				display: block;
				width: 22%;
				padding: 0.5%;
				background-color: white;
				margin: 1%;
				transform: scale(1);
				border-radius: 3%;
				overflow: hidden;
				@include transition(all 300ms ease);

				&:hover {
					transform: scale(1.1) rotate(2deg);
					background-color: $color-blueSNB;
				}
				&-img {
					width: 100%;
					border-radius: 3%;

				}
			}
		}

		&--babysplash {
		    background-color: $background-AboutPage-blue;
		    background-image: url("../media/img/about/background-blue.jpg");
		    &-title {
		        display: block;
		        position: absolute;
		        top: 11.8%;
		        left: 4%;
		        width: 54%;
		        z-index: 20;
		        text-align: center;
		        color: $color-yellowSNB;
		        &-header {
		            //font-size: 2.7vw;
		        }
		    }
		    &-title2 {
		        display: block;
		        position: absolute;
		        top: 55%;
		        left: 48%;
		        width: 52%;
		        z-index: 20;
		        text-align: center;
		        transform: rotate(1deg);
		        color: $color-yellowSNB;
		        &-header {
		            font-size: 3.7vw;
		        }
		        &-reg {
		            font-family: $fontFamily-AboutPage-cell-subtitle;
		            font-size: 2.7vw;
		        }
		    }
		    &-baby {
		        display: block;
		        position: absolute;
		        top: 3%;
		        left: 58%;
		        width: 27%;
		        //transform: rotate(-6deg);
		        z-index: 1;
		        @include animation(rockFrame 1.7s infinite);
		        @include animation-timing-function(ease-in-out);
		        &-img {
		            width: 63%;
		            position: absolute;
		            z-index: 1;
		            top: 4%;
		            left: 19%;
		            z-index: 10;
		            margin-top: 14%;
		        }
		        &-frame {
		            width: 100%;
		            position: absolute;
		            z-index: 1;
		            top: 0;
		            left: 0;
		            z-index: 1;
		        }
		    }
		    &-teen {
		        display: block;
		        position: absolute;
		        top: 43%;
		        left: 7%;
		        width: 40%;
		        transform: rotate(-4deg);
		        z-index: 2;
		    }
		    &-tape1 {
		        display: block;
		        position: absolute;
		        top: 31%;
		        left: 36%;
		        width: 6%;
		        transform: rotate(-60deg);
		        z-index: 30;
		    }
		    &-tape2 {
		        display: block;
		        position: absolute;
		        top: 35%;
		        left: 9%;
		        width: 6%;
		        transform: rotate(29deg);
		        z-index: 30;
		    }
		}

		&--babyboots {
			background-color: $background-AboutPage-yellow;
		    background-image: url("../media/img/about/background-yellow.jpg");

		    &-title {
			    display: block;
			    position: absolute;
			    top: 9.8%;
			    left: 41%;
			    width: 54%;
			    /* margin-left: -40%; */
			    
			    z-index: 20;
			    text-align: center;
			    color: $fontColor-AboutPage-cell--awards-title;
			    &-header {
			        //font-size: 2.7vw;
			    }
			    &-reg {
			        font-family: $fontFamily-AboutPage-cell-subtitle;
			        font-size: 2.7vw;
			    }
			}

		    &-title2 {
				display: block;
				position: absolute;
				top: 70%;
				left: 60%;
				width: 39%;
				z-index: 20;
				text-align: center;
				transform: rotate(1deg);
			    color: $fontColor-AboutPage-cell--awards-title;

			    &-header {
			        font-size: 3.7vw;
			    }
			    &-reg {
			        font-family: $fontFamily-AboutPage-cell-subtitle;
			        font-size: 2.7vw;
			    }
			}

		    &-baby1 {
			    display: block;
			    position: absolute;
			    top: 8%;
			    left: 4%;
			    width: 34%;
			    transform: rotate(-6deg);
			    z-index: 1;
			}
			&-baby2 {
			    display: block;
			    position: absolute;
			    top: 44%;
			    left: 41%;
			    width: 19%;
			    transform: rotate(3deg);
			    z-index: 2;
			}
			&-tape {
			    display: block;
			    position: absolute;
			    top: 33%;
			    left: 49%;
			    width: 6%;
			    z-index: 30;
			}
		}

		&--recording {
		    background-color: $background-AboutPage-blue;
		    background-image: url("../media/img/about/background-blue.jpg");
		    &-title {
		        display: block;
		        position: absolute;
		        top: 15%;
		        left: 0%;
		        width: 57%;
		        z-index: 20;
		        text-align: center;
		        color: $color-yellowSNB;
		        &-header {
		            font-size: 4.3vw;
		        }
		        &-reg {
		            font-family: $fontFamily-AboutPage-cell-subtitle;
		            font-size: 2.7vw;
		        }
		    }
		    &-goldText {
		        display: block;
		        position: absolute;
		        top: 89%;
		        left: 42%;
		        width: 52%;
		        z-index: 20;
		        text-align: center;
		        color: $color-yellowSNB;
		        font-family: $fontFamily-AboutPage-cell-subtitle;
		        font-size: 2.7vw;
		    }
		    &-img1 {
		        display: block;
		        position: absolute;
		        top: 10%;
		        left: 56%;
		        width: 36%;
		        transform: rotate(4deg);
		        z-index: 1;
		        &-img {
		            width: 63%;
		            position: absolute;
		            z-index: 1;
		            top: 4%;
		            left: 19%;
		            z-index: 10;
		            margin-top: 14%;
		        }
		        &-frame {
		            width: 100%;
		            position: absolute;
		            z-index: 1;
		            top: 0;
		            left: 0;
		            z-index: 1;
		        }
		    }
		    &-record {
		        display: block;
		        position: absolute;
		        top: 46%;
		        left: 9%;
		        width: 40%;
		        transform: rotate(-2deg);
		        z-index: 2;
		        &-img {
		            width: 100%;
		            z-index: 1;
		        }
		        &-asterix {
		            position: absolute;
		            top: 12%;
		            right: 9%;
		            color: white;
		            font-size: 5vw;
		            font-family: $fontFamily-AboutPage-cell-subtitle;
		        }
		    }
		    &-tape1 {
		        display: block;
		        position: absolute;
		        top: 2%;
		        left: 60%;
		        width: 5%;
		        transform: rotate(29deg);
		        z-index: 30;
		    }
		    &-tape2 {
		        display: block;
		        position: absolute;
		        top: 4%;
		        left: 85%;
		        width: 5%;
		        transform: rotate(-45deg);
		        z-index: 30;
		    }
		}

		&--final {
			text-align: center;
			&-img {
				width: 100%;
			}
		}

		// -------------------------
		// Responsive difference
		@media (min-width: $StopCellGrowthWidth) {
			& {
				padding-bottom: $CellFixedPaddingBottom;
			}

			&-wrapper {
				display: block;
				position: absolute;
				width: $StopCellGrowthWidth;
				height: 100%;
				left: 50%;
				margin-left: $StopCellGrowthWidth / -2;
			}

			&-title { 
				font-size: 6.1em;
			}

			&--bigyellowboot {
				padding-bottom: $CellFixedPaddingBottom--yellowboot;

				&-text {

					&-header {
						font-size: 3.85em;
						text-shadow: 3px 3px 1px $textShadowColor-AboutPage-cell--yellowboot-text; // A shadow is needed to make it look good on yellow background
					}
					&-reg {
						font-size: 2.7em;
						text-shadow: 2px 2px 1px $textShadowColor-AboutPage-cell--yellowboot-text; // A shadow is needed to make it look good on yellow background
					}
				}
			}

			&--friends {
				&-title {
					font-size: 3.85em;
				}
			}

			&--awards {
				&-title {
					&-reg {
						font-size: 2.07em;
					}
				}
			}

			&--worldMap {
				padding-bottom: 590px;
			}

			&--babysplash {
				&-title2 {
					&-header {
						font-size: 2.8em;
					}
					&-reg {
						font-size: 2.1em;
					}
				}
			}

			&--babyboots {
				&-title {
					&-reg {
						  font-size: 2.1em;
					}
				}
				&-title2 {
					&-reg {
						font-size: 2.07em;
					}
					&-header {
						font-size: 2.85em;
					}
				}
			}

			&--recording {
				&-title {
					&-header {
						font-size: 3.3em;
					}
					&-reg {
						 font-size: 2.1em;
					}
				}
				&-goldText {
					font-size: 2.1em;
				}
			}

			&--final {
				&-img {
					width: $StopCellGrowthWidth;
				}
			}
		}
	}	
}