.Footer {
//	@include background-image( linear-gradient(to left, $color-blueSNB, white) );
	@include linear-gradient(to bottom, $color-blueSNB, white);
	text-align: center;
	width: 100%;
	padding:30px;
	padding-left:0;
	padding-right:0;


	&-copyright {

	}
}