.gigpress {
	&-cancelled, &-soldout {
	  text-transform: uppercase;
	  font-weight: bold;
	  padding: 1px;
	  //color: #111;
	  // background: #fffdeb; 
	  //border: 1px solid #EEE;
	  // background: #111; 
	  color: #D33;
	  border: none;
	}
}