.NewsPage {
	background-color: $AboutPage-background-blue;
	background-image: url("../media/img/general/background-blue-med.jpg");
	background-size: 100%;
	padding-top: 30px;
	padding-bottom: 30px;

	&-item {

		&--initial {

		}

		&--displayNone {
			display: none;
		}
	}
}