$zIndex-Pictures-backdrop : 1000;
$zIndex-Pictures-modal    : $zIndex-Pictures-backdrop + 1;
//$imagePaddingWidth : 335px;
$swiper-slide-container-padding: 335px;
$swiper-slide-container-text-padding: 25px;

// NOTE: this has to be the same as the value within 'instagramClick.js' ...
// ... switchToFullTopBottomStyle = 735,
$switchToFullTopBottomStyle : 735px; 


.PicturesPage {
    &-backdrop {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        //background: #FFFFFF;
        background-color: rgba(50,50,50,.7);
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.80;
        z-index: $zIndex-Pictures-backdrop;
    }

    &-modal {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        //overflow: auto;
        
        z-index: $zIndex-Pictures-modal;

        //-----------------------------------
        // z-index related
        & .Loading {
            z-index: index($zIndexElements--PicturesPage-modalWindow, 'loading');
        }

        & .swiper-container {
            z-index: index($zIndexElements--PicturesPage-modalWindow, 'swiperContainer');
        }

        & .Modal-closeButton{
            z-index: index($zIndexElements--PicturesPage-modalWindow, 'closeButton');
        }


        //-----------------------------------
        & .swiper-wrapper {
            height: auto;
        }

        & .swiper-container {
            width: 100%;
            height: 100%;
            overflow: auto;
            visibility: hidden;
            // padding-top: 50px;
            // padding-bottom: 50px;
        }
        & .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 640px;

            &-container {
                position: relative;
                background-color: white; //#A86C6C;
                padding-right: $swiper-slide-container-padding;  
                
                &-photoRoot {
                    position: relative;
                    background-color: #BBB; //#FF0000; 
                    display: block;
                    width: 100%;

                    &::before {
                        content: ' ';
                        display: block;
                        padding-bottom: 100%;
                    }

                    &-img {
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }
                }

                &-text {
                    position: absolute;
                    right:  $swiper-slide-container-text-padding;
                    top:    $swiper-slide-container-text-padding;
                    width:  $swiper-slide-container-padding - 2 * $swiper-slide-container-text-padding;
                    bottom: $swiper-slide-container-text-padding;
                    background-color: white;
                    overflow: auto;
                }

                @media (max-width: 735px) {
                    & {
                        padding-right: 0;
                        
                        &-photoRoot {

                            &::before {
                                display: none;
                            }

                            &-img {
                                position: relative;
                            }
                        }

                        &-text {
                            position: static;
                            width: 100%;

                            &-value {
                                padding: 25px;    
                            }
                        }

                    }
                }
            }
        }
    }
}

