$zIndex-Pictures-backdrop : 1000;
$zIndex-Pictures-modal    : $zIndex-Pictures-backdrop + 1;

.PicturesPage {
    &-backdrop {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        background: #FFFFFF;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.80;
        z-index: $zIndex-Pictures-backdrop;
    }

    &-modal {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        
        z-index: $zIndex-Pictures-modal;

        // & .swiper {
        //     &-container {
        //         width: 100%;
        //         padding-top: 50px;
        //         padding-bottom: 50px;
        //     }
            
        //     &-slide {
        //         background-position: center;
        //         background-size: cover;
        //         width: 300px;
        //         height: 300px;
        //     }
        // }

        // // Full page style
        // & .swiper-container {
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        // }
        // & .swiper-slide {
        //     text-align: center;
        //     font-size: 18px;
        //     //background: #fff;
        //     /* Center slide text vertically */
        //     display: -webkit-box;
        //     display: -ms-flexbox;
        //     display: -webkit-flex;
        //     display: flex;
        //     -webkit-box-pack: center;
        //     -ms-flex-pack: center;
        //     -webkit-justify-content: center;
        //     justify-content: center;
        //     -webkit-box-align: center;
        //     -ms-flex-align: center;
        //     -webkit-align-items: center;
        //     align-items: center;
        // }

        // Small rotatable.
        & .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        & .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 640px;
            //height: 640px;

            &-img {
                width: 100%;
            }

            @media (max-width : 640px) {
                & {
                    //width: 100%;
                    //border: blue 5px solid;
                }
            }

            @media (min-width : 640px) {
                & {
                    //border: red 5px solid;
                }
            }
        }

    }
}

// .swiper-slider-img {
//     width: 100% !important;
// }
