$zIndex-Pictures-backdrop : 1000;
$zIndex-Pictures-modal    : $zIndex-Pictures-backdrop + 1;
//$imagePaddingWidth : 335px;
$swiper-slide-container-padding: 335px;
$swiper-slide-container-text-padding: 25px;

.PicturesPage {
    &-backdrop {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;

        background: #FFFFFF;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.80;
        z-index: $zIndex-Pictures-backdrop;
    }

    &-modal {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        
        z-index: $zIndex-Pictures-modal;

        // & .swiper {
        //     &-container {
        //         width: 100%;
        //         padding-top: 50px;
        //         padding-bottom: 50px;
        //     }
            
        //     &-slide {
        //         background-position: center;
        //         background-size: cover;
        //         width: 300px;
        //         height: 300px;
        //     }
        // }

        // // Full page style
        // & .swiper-container {
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        // }
        // & .swiper-slide {
        //     text-align: center;
        //     font-size: 18px;
        //     //background: #fff;
        //     /* Center slide text vertically */
        //     display: -webkit-box;
        //     display: -ms-flexbox;
        //     display: -webkit-flex;
        //     display: flex;
        //     -webkit-box-pack: center;
        //     -ms-flex-pack: center;
        //     -webkit-justify-content: center;
        //     justify-content: center;
        //     -webkit-box-align: center;
        //     -ms-flex-align: center;
        //     -webkit-align-items: center;
        //     align-items: center;
        // }

        // Small rotatable.

        & .swiper-wrapper {
            height: auto;
        }

        & .swiper-container {
            width: 100%;
            // padding-top: 50px;
            // padding-bottom: 50px;
        }
        & .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 640px;
            //height: 640px;

            // &-container {
            //     position: relative;
            //     top: 0;
            //     left: 0;
            //     right: 0px;
            //     background: blue;
                
            //     &-photoRoot {
            //         background-color: #A86C6C;
            //         padding-right: 335px;  
                    
            //         &-img {
            //             background-color: #FF0000;
            //             display: block;
            //             width: 100%;

            //             &::before {
            //                 content: ' ';
            //                 display: block;
            //                 padding-bottom: 100%;
            //             }
            //         }
            //     }
            // }

            &-container {
                position: relative;
                background-color: #A86C6C;
                padding-right: $swiper-slide-container-padding;  
                
                &-photoRoot {
                    position: relative;
                    background-color: #FF0000;
                    display: block;
                    width: 100%;

                    &::before {
                        content: ' ';
                        display: block;
                        padding-bottom: 100%;
                    }

                    &-img {
                        left: 0;
                        position: absolute;
                        top: 0;
                        width: 100%;
                    }
                }

                &-text {
                    position: absolute;
                    right:  $swiper-slide-container-text-padding;
                    top:    $swiper-slide-container-text-padding;
                    width:  $swiper-slide-container-padding - 2 * $swiper-slide-container-text-padding;
                    bottom: $swiper-slide-container-text-padding;
                    background-color: green;
                    overflow: auto;
                    // position: absolute;
                    // right: 0;
                    // top: 20px;
                    // width: 325px;

                    // margin-left: -24px;
                    // margin-right: -24px;
                    // padding-left: 24px;
                    // padding-right: 24px;
                    
                    // overflow: auto;
                    // padding-bottom: 20px;
                    
                    // -webkit-box-flex: 1;
                    // -webkit-flex-grow: 1;
                    // -ms-flex-positive: 1;
                    // flex-grow: 1;
                }
            }

            // &-container {
            //     background-color: #fff;
            //     padding-right: 323px;

            //     -webkit-box-align: stretch;
            //     -webkit-align-items: stretch;
            //     -ms-flex-align: stretch;
            //     align-items: stretch;
            //     border: 0 solid #000;
            //     box-sizing: border-box;
            //     display: -webkit-box;
            //     display: -webkit-flex;
            //     display: -ms-flexbox;
            //     display: flex;
            //     -webkit-box-orient: vertical;
            //     -webkit-box-direction: normal;
            //     -webkit-flex-direction: column;
            //     -ms-flex-direction: column;
            //     flex-direction: column;
            //     -webkit-flex-shrink: 0;
            //     -ms-flex-negative: 0;
            //     flex-shrink: 0;
            //     margin: 0;
            //     padding: 0;
            //     position: relative;
            // }

            // &-photoRoot {
            //     background-color: #edeeee;
            //     display: block;
            //     width: 100%;

            //     -webkit-box-align: stretch;
            //     -webkit-align-items: stretch;
            //     -ms-flex-align: stretch;
            //     align-items: stretch;
            //     border: 0 solid #000;
            //     box-sizing: border-box;
            //     display: -webkit-box;
            //     display: -webkit-flex;
            //     display: -ms-flexbox;
            //     display: flex;
            //     -webkit-box-orient: vertical;
            //     -webkit-box-direction: normal;
            //     -webkit-flex-direction: column;
            //     -ms-flex-direction: column;
            //     flex-direction: column;
            //     -webkit-flex-shrink: 0;
            //     -ms-flex-negative: 0;
            //     flex-shrink: 0;
            //     margin: 0;
            //     padding: 0;
            //     position: relative;

            //     &::before {
            //         content: '';
            //         display: block;
            //         padding-bottom: 100%;
            //     }

            //     &-img {
            //         left: 0;
            //         position: absolute;
            //         top: 0;
            //         width: 100%;

            //         margin: 0;
            //         padding: 0;
            //         border: 0;
            //         font-size: 100%;
            //         font: inherit;
            //         vertical-align: baseline;
            //     }
            // }

            // &-img {
            //     width: 100%;
            // }

            // @media (max-width : 640px) {
            //     & {
            //         //width: 100%;
            //         //border: blue 5px solid;
            //     }
            // }

            // @media (min-width : 640px) {
            //     & {
            //         //border: red 5px solid;
            //     }
            // }
        }

    }
}

// .swiper-slider-img {
//     width: 100% !important;
// }
