@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.14 , 0.8, 1);
            transform: scale3d(1.14, 0.8, 1);
  }

  40% {
    -webkit-transform: scale3d(0.8, 1.14, 1);
            transform: scale3d(0.8, 1.14, 1);
  }

  50% {
    -webkit-transform: scale3d(1.10, 0.88, 1);
            transform: scale3d(1.10, 0.88, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
            transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.03, .97, 1);
            transform: scale3d(1.03, .97, 1);
  }

  90% {
    -webkit-transform: scale3d(.97, 1.03, 1);
            transform: scale3d(.97, 1.03, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.14, 0.8, 1);
            transform: scale3d(1.14, 0.8, 1);
  }

  40% {
    -webkit-transform: scale3d(0.8, 1.14, 1);
            transform: scale3d(0.8, 1.14, 1);
  }

  50% {
    -webkit-transform: scale3d(1.10, 0.88, 1);
            transform: scale3d(1.10, 0.88, 1);
  }

  65% {
    -webkit-transform: scale3d(.94, 1.06, 1);
            transform: scale3d(.94, 1.06, 1);
  }

  75% {
    -webkit-transform: scale3d(1.04, .96, 1);
            transform: scale3d(1.04, .96, 1);
  }

  90% {
    -webkit-transform: scale3d(.98, 1.02, 1);
            transform: scale3d(.98, 1.02, 1);
  }  

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
          animation-name: rubberBand;
}